.toolsContainer {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'kern' off;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rotateButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 400px;
    height: 97px;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rotateButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 4px;
    width: 194px;
    height: 97px;
    background: #FFFFFF;
    border: 2px solid #E3E3E3;
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.rotateButton:hover {
    background: #FAEAFA;
    border: 2px solid #C209C1;

}

.leftButton {
    transform: rotate(-45deg);
}

.rightButton {
    transform: rotate(45deg);
}

.leftButton,
.rightButton {
    width: 23.49px;
    height: 20.47px;
    left: 25.49px;
    top: 8px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.rotateButtonsContainer>button>span {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'kern' off;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #4C4C4C;
}

@media (min-width: 320px) and (max-width: 425px) {
    .toolsContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: 50vh;
    }

    .rotateButtonsContainer {
        width: 100%;
    }

    .rotateButton {
        width: 48%;
        min-height: 25vh;
    }

    .rotateButton>svg {
        width: 64px;
        height: 64px;
    }
}