.rotateSection {
    display: flex;
    justify-content: space-between;
    background: #e2e2e2;
    height: 592px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .rotateSection {
        min-width: 130vh;
        flex-direction: column;
    }
}